In [2]:
import pandas as pd

In [3]:
# train (playlist)
train = pd.read_json('data/train.json')
train_new =  pd.read_json('[정호]new/new_train3.json')

In [5]:
train_new.head()

,tags,id,세개지움,plylst_title,songs,like_cnt,updt_date
0,[락],61281,"[여행, 락]",여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,"[회상, 추억, 요즘]",요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"[카페, 잔잔, 편하]","편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,"[캐럴, 왕국, 겨울, 취하, 눈, 흠뻑, 연말, 분위기, 따, 크리스마스]",크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,"[추억, 댄스]",추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000

In [6]:
train.head()

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000

---
---
파이썬 연습

BMI 비만도 데이터셋 소개

In [2]:
import random

print('weight,height,y')
for i in range(10):
    weight = random.randint(40,140)
    height = random.randint(130,200)
    bmi = weight / (height/100) **2 
    if bmi < 18.5:
        y=0
    elif bmi > 25:
        y=2
    else:
        y=1
    print('{}, {}, {}'.format(weight, height, y))

weight,height,y
63, 144, 2
79, 199, 1
42, 194, 0
93, 162, 2
132, 179, 2
90, 177, 2
118, 150, 2
56, 175, 0
99, 186, 2
110, 178, 2

In [3]:
height = int(input('키를 입력해주세요(cm): '))
weight = int(input('몸무게를 입력해주세요(kg): '))

bmi = weight / (height / 100) ** 2
print('bmi:', bmi)

if bmi < 18.5 :
    print('저체중')
elif bmi >= 25:
    print('비만')
else:
    print('정상')

키를 입력해주세요(cm):  176
몸무게를 입력해주세요(kg):  74

bmi: 23.889462809917354
정상

---
---

In [4]:
menus = ['김치볶음밥','초밥','김치찌개','콩나물국밥','스파게티','비빔밥','짜장면','칼국수','삼계탕','돈까스']
prices = [6000,9000,7000,6000,6000,5000,60000,500,4000,3000]
print('메뉴 : ')
for menu, price in zip(menus, prices):
    print(menu, price)

메뉴 :
김치볶음밥 6000
초밥 9000
김치찌개 7000
콩나물국밥 6000
스파게티 6000
비빔밥 5000
짜장면 60000
칼국수 500
삼계탕 4000
돈까스 3000

In [5]:
for i in range(len(menus)):
    print(menus[i], prices[i])

김치볶음밥 6000
초밥 9000
김치찌개 7000
콩나물국밥 6000
스파게티 6000
비빔밥 5000
짜장면 60000
칼국수 500
삼계탕 4000
돈까스 3000

---
---

In [26]:
for menu, price in zip(menus, prices):
    print(menu, price)
i = random.randint(0, len(menus)-1)
print('추천메뉴 : ', menus[i])
print('메뉴 가격 : ',prices[i])

김치볶음밥 6000
초밥 9000
김치찌개 7000
콩나물국밥 6000
스파게티 6000
비빔밥 5000
짜장면 60000
칼국수 500
삼계탕 4000
돈까스 3000
추천메뉴 :  비빔밥
메뉴 가격 :  5000

In [27]:
print('menu:')
for i in range(len(menus)):
    print(menus[i], prices[i])
    
i = random.randint(0, len(menus) -1)
print(menus[i])
print(prices[i])

menu:
김치볶음밥 6000
초밥 9000
김치찌개 7000
콩나물국밥 6000
스파게티 6000
비빔밥 5000
짜장면 60000
칼국수 500
삼계탕 4000
돈까스 3000
스파게티
6000

---
---
### for 문, list comprehension

In [29]:
import numpy as np

In [34]:
np.array(menus)
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [35]:
import random

lotto = random.sample(range(1,46),6)
lotto.sort()
print(lotto)

[6, 19, 23, 25, 26, 42]

In [38]:
l = list(range(1,46))
l = [x for x in range(1,46)]
random.shuffle(l)

lotto = l[:6]
lotto.sort()
print(lotto)

[1, 5, 14, 27, 34, 35]

In [39]:
import random

l = list(range(1,46))
lotto_numbers = []
for x in range(6):
    r = random.choice(l)
    l.remove(r)
    lotto_numbers.append(r)
print(lotto_numbers)
lotto_numbers.sort()
print(lotto_numbers)

[40, 43, 37, 13, 41, 6]
[6, 13, 37, 40, 41, 43]

In [52]:
l = list(range(1,46))
lotto = []
for i in range(6):
    r = random.choice(l)
    l.remove(r)
    lotto.append(r)
lotto.sort()
print(lotto)

[10, 15, 29, 30, 32, 36]

---
---
## Negative Sampling 20뉴스 그룹 데이터 전처리하기

In [55]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.datasets import fetch_20newsgroups
from tensorflow.keras.preprocessing.text import Tokenizer

>하나의 샘플에 최소 단어 2개가 있어야 함. 그래야 중심 단어, 주변 단어 관계를 성립.   
그렇지 않으면 샘플을 구성할 수 없어 에러 발생.

In [133]:
data = fetch_20newsgroups(shuffle=True, random_state=1, remove=('headers','footers','quotes'))
documents = data.data

In [134]:
print(len(documents))

11314

In [135]:
news_df = pd.DataFrame({'document':documents})
news_df.head()

#특수문자 제거
news_df['clean_doc'] = news_df['document'].str.replace("[^a-zA-Z]", " ")
news_df.head()

# 길이가 3이하인 단어는 제거(길이가 짧은 단어 제거)
news_df['clean_doc'] = news_df['clean_doc'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

# 전체 단어에 대한 소문자 변환
news_df['clean_doc'] = news_df['clean_doc'].apply(lambda x : x.lower())

<ipython-input-135-ec8110df8ff7>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  news_df['clean_doc'] = news_df['document'].str.replace("[^a-zA-Z]", " ")

In [139]:
news_df.isnull().sum()

document     0
clean_doc    0
dtype: int64

>빈 값(empy) 유무도 확인해야 함.

In [140]:
news_df.replace("",float('NaN'), inplace=True)
news_df.isnull().sum()

document     218
clean_doc    319
dtype: int64

In [142]:
news_df.dropna(inplace=True)
print('총 샘플 수: ', len(news_df))

총 샘플 수:  10995

> 불용어를 제거하자

In [144]:
stop_words = stopwords.words('english')
tokenized_doc = news_df['clean_doc'].apply(lambda x : x.split())

tokenized_doc = tokenized_doc.apply(lambda x : [item for item in x if item not in stop_words])

tokenized_doc = tokenized_doc.to_list()

> 모든 샘플 중 단어가 1개 이하인 경우를 모두 찾아 제거    
> 1. 단어가 1개 이하인 샘플의 인덱스를 찾아 저장하고,    
> 2. 해당 샘플들을 제거

In [147]:
drop_train = [index for index, sentence in enumerate(tokenized_doc) if len(sentence) <=1]
tokenized_doc = np.delete(tokenized_doc, drop_train, axis=0)
print('총 샘플 수 :', len(tokenized_doc))

총 샘플 수 : 10940

C:\Users\medici\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

> 단어 집합 생성하고, 정수 인코딩 진행

In [151]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(tokenized_doc)

word2idx = tokenizer.word_index
idx2word = {v:k for k, v in word2idx.items()}
encoded = tokenizer.texts_to_sequences(tokenized_doc)

In [152]:
print(encoded[:2])

[[9, 59, 603, 207, 3278, 1495, 474, 702, 9470, 13686, 5533, 15227, 702, 442, 702, 70, 1148, 1095, 1036, 20294, 984, 705, 4294, 702, 217, 207, 1979, 15228, 13686, 4865, 4520, 87, 1530, 6, 52, 149, 581, 661, 4406, 4988, 4866, 1920, 755, 10668, 1102, 7837, 442, 957, 10669, 634, 51, 228, 2669, 4989, 178, 66, 222, 4521, 6066, 68, 4295], [1026, 532, 2, 60, 98, 582, 107, 800, 23, 79, 4522, 333, 7838, 864, 421, 3825, 458, 6488, 458, 2700, 4730, 333, 23, 9, 4731, 7262, 186, 310, 146, 170, 642, 1260, 107, 33568, 13, 985, 33569, 33570, 9471, 11491]]

In [154]:
vocab_size = len(word2idx) + 1
print('단어 집합의 크기: ', vocab_size)

단어 집합의 크기:  64277

---
## 4. 네거티브 샘플링을 통한 데이터셋 구성하기

In [156]:
from tensorflow.keras.preprocessing.sequence import skipgrams
# 네거티브 샘플링, 상위 10개 뉴스그룹에 대해서만
skip_grams = [skipgrams(sample, vocabulary_size = vocab_size, window_size=10) for sample in encoded[:10]]

>  첫번째 샘플인 skip_grams[0] 내 skipgrams로 형성된 데이터셋 확인

In [157]:
# 첫번째 샘플인 skip_grams[0] 내 skipgrams로 형성된 데이터셋 확인
pairs, labels = skip_grams[0][0], skip_grams[0][1]
for i in range(5):
    print("({:s} ({:d}), {:s} ({:d})) -> {:d}".format(
          idx2word[pairs[i][0]], pairs[i][0], 
          idx2word[pairs[i][1]], pairs[i][1], 
          labels[i]))

(holocaust (2669), hazardous (9367)) -> 0
(guilt (4989), urbane (38674)) -> 0
(daily (1920), mezalim (17525)) -> 0
(think (6), atrocities (4406)) -> 1
(whole (217), existance (4865)) -> 1

> 윈도우 크기 내에서 중심 단어, 주변 단어의 관계를 가지는 경우에는 1의 레이블을    
그렇지 않은 경우는 0의 레이블을 가지도록 하여 데이터셋을 구성

In [159]:
print('전체 샘플 수 :',len(skip_grams))

전체 샘플 수 : 10

In [160]:
print(len(pairs))
print(len(labels))

2220
2220

In [161]:
skip_grams = [skipgrams(sample, vocabulary_size=vocab_size, window_size=10) for sample in encoded]

---
## 5. Skip-Gram with Negative Sampling(SGNS) 구현하기

In [162]:
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Embedding, Reshape, Activation, Input
from tensorflow.keras.layers import Dot
from tensorflow.keras.utils import plot_model
from IPython.display import SVG

> 임베딩 벡터 100차원

In [163]:
embed_size = 100

> 모델 설계, 두 개의 임베딩 테이블 생성

In [164]:
# 중심 단어를 위한 임베딩 테이블
w_inputs = Input(shape=(1, ), dtype='int32')
word_embedding = Embedding(vocab_size, embed_size)(w_inputs)

# 주변 단어를 위한 임베딩 테이블
c_inputs = Input(shape=(1, ), dtype='int32')
context_embedding  = Embedding(vocab_size, embed_size)(c_inputs)

In [166]:
dot_product = Dot(axes=2)([word_embedding, context_embedding])
dot_product = Reshape((1,), input_shape=(1, 1))(dot_product)
output = Activation('sigmoid')(dot_product)

In [167]:
model = Model(inputs=[w_inputs, c_inputs], outputs=output)
model.summary()
model.compile(loss='binary_crossentropy', optimizer='adam')
plot_model(model, to_file='model3.png', show_shapes=True, show_layer_names=True, rankdir='TB')

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
input_2 (InputLayer)            [(None, 1)]          0
__________________________________________________________________________________________________
embedding (Embedding)           (None, 1, 100)       6427700     input_1[0][0]
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 100)       6427700     input_2[0][0]
__________________________________________________________________________________________________
dot_1 (Dot)                     (None, 1, 1)         0           embedding[0][0]
                                                                 embedding_1[0][0]
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 1)            0           dot_1[0][0]
__________________________________________________________________________________________________
activation (Activation)         (None, 1)            0           reshape_1[0][0]
==================================================================================================
Total params: 12,855,400
Trainable params: 12,855,400
Non-trainable params: 0
__________________________________________________________________________________________________
('You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) ', 'for plot_model/model_to_dot to work.')

> 하단 for문 학습시간 주의

In [168]:
for epoch in range(1, 6):
    loss = 0
    for _, elem in enumerate(skip_grams):
        first_elem = np.array(list(zip(*elem[0]))[0], dtype='int32')
        second_elem = np.array(list(zip(*elem[0]))[1], dtype='int32')
        labels = np.array(elem[1], dtype='int32')
        X = [first_elem, second_elem]
        Y = labels
        loss += model.train_on_batch(X,Y)  
    print('Epoch :',epoch, 'Loss :',loss)

Epoch : 1 Loss : 4629.025564048439
Epoch : 2 Loss : 3676.0857761092484
Epoch : 3 Loss : 3520.241004066542
Epoch : 4 Loss : 3312.6048880675808
Epoch : 5 Loss : 3086.3749261628836

## 6. 결과 확인하기

In [169]:
import gensim

> 학습된 임베딩 벡터들을 저장

In [170]:
f = open('vectors.txt' ,'w')
f.write('{} {}\n'.format(vocab_size-1, embed_size))
vectors = model.get_weights()[0]
for word, i in tokenizer.word_index.items():
    f.write('{} {}\n'.format(word, ' '.join(map(str, list(vectors[i, :])))))
f.close()

> 이를 gensim의 .models.KeyedVectors.load_word2vec_format로 로드하면 쉽게 단어 간 유사도를 구할 수 있습니다.

In [171]:
w2v = gensim.models.KeyedVectors.load_word2vec_format('./vectors.txt', binary=False)

In [172]:
w2v.most_similar(positive=['soldiers'])

[('wounded', 0.8502105474472046),
 ('troops', 0.8081046342849731),
 ('occupied', 0.7970553636550903),
 ('occupation', 0.7909451723098755),
 ('massacre', 0.7848128080368042),
 ('civilians', 0.7751454710960388),
 ('bombing', 0.7728250026702881),
 ('soldier', 0.7696173191070557),
 ('massacred', 0.7695555686950684),
 ('murdered', 0.7641754150390625)]

---
---
apply lambda list comprehension 예제

In [89]:
data = '''After Jesus had finished instructing his twelve disciples, he went on from there to teach and preach in the towns of Galilee. When John heard in prison what Christ was doing, he sent his disciples to ask him, "Are you the one who was to come, or should we expect someone else?" Jesus replied, "Go back and report to John what you hear and see: The blind receive sight, the lame walk, those who have leprosyare cured, the deaf hear, the dead are raised, and the good news is preached to the poor. Blessed is the man who does not fall away on account of me." As John's disciples were leaving, Jesus began to speak to the crowd about John: "What did you go out into the desert to see? A reed swayed by the wind? If not, what did you go out to see? A man dressed in fine clothes? No, those who wear fine clothes are in kings' palaces. Then what did you go out to see? A prophet? Yes, I tell you, and more than a prophet. This is the one about whom it is written: " 'I will send my messenger ahead of you, who will prepare your way before you.' I tell you the truth: Among those born of women there has not risen anyone greater than John the Baptist; yet he who is least in the kingdom of heaven is greater than he. From the days of John the Baptist until now, the kingdom of heaven has been forcefully advancing, and forceful men lay hold of it. For all the Prophets and the Law prophesied until John. And if you are willing to accept it, he is the Elijah who was to come. He who has ears, let him hear. "To what can I compare this generation? They are like children sitting in the marketplaces and calling out to others: " 'We played the flute for you, and you did not dance; we sang a dirge and you did not mourn.' For John came neither eating nor drinking, and they say, 'He has a demon.' The Son of Man came eating and drinking, and they say, 'Here is a glutton and a drunkard, a friend of tax collectors and "sinners." ' But wisdom is proved right by her actions." Then Jesus began to denounce the cities in which most of his miracles had been performed, because they did not repent. "Woe to you, Korazin! Woe to you, Bethsaida! If the miracles that were performed in you had been performed in Tyre and Sidon, they would have repented long ago in sackcloth and ashes. But I tell you, it will be more bearable for Tyre and Sidon on the day of judgment than for you. And you, Capernaum, will you be lifted up to the skies? No, you will go down to the depths. If the miracles that were performed in you had been performed in Sodom, it would have remained to this day. But I tell you that it will be more bearable for Sodom on the day of judgment than for you." At that time Jesus said, "I praise you, Father, Lord of heaven and earth, because you have hidden these things from the wise and learned, and revealed them to little children. Yes, Father, for this was your good pleasure. "All things have been committed to me by my Father. No one knows the Son except the Father, and no one knows the Father except the Son and those to whom the Son chooses to reveal him. "Come to me, all you who are weary and burdened, and I will give you rest. Take my yoke upon you and learn from me, for I am gentle and humble in hear t, and you will find rest for your souls. For my yoke is easy and my burden is light."'''

# 출처: https://chan-lab.tistory.com/20 [은공지능 공작소]

In [102]:
data_dict ={}
data_dict['verse'] = []

for row in [x for x in data.split('.')]:
    data_dict['verse'].append(row)

bible = pd.DataFrame.from_dict(data_dict)
# bible_data

In [105]:
bible.head(2)

                                               verse
0  After Jesus had finished instructing his twelv...
1   When John heard in prison what Christ was doi...

---
---

1. apply

In [106]:
bible['verse'].apply(len)

0     124
1     369
2      59
3     274
4      85
5     121
6     171
7     130
8      55
9      70
10     30
11    211
12     74
13    131
14     45
15    119
16    183
17     96
18     91
19    107
20     91
21    176
22     45
23     51
24    131
25     74
26    117
27     43
28      1
Name: verse, dtype: int64

---
---

In [111]:
bible['verse'].apply(len)
#list.append() 처럼 .으로 파생되는 함수는 람다함수로

0     124
1     369
2      59
3     274
4      85
5     121
6     171
7     130
8      55
9      70
10     30
11    211
12     74
13    131
14     45
15    119
16    183
17     96
18     91
19    107
20     91
21    176
22     45
23     51
24    131
25     74
26    117
27     43
28      1
Name: verse, dtype: int64

2. 람다함수 이해

In [112]:
bible['verse'][0]

'After Jesus had finished instructing his twelve disciples, he went on from there to teach and preach in the towns of Galilee'

In [118]:
#사용자 정의함수 만들기
def IsUpper(input):
    return input[0].isupper()

display(bible['verse'].apply(IsUpper).head())
bible.head()

0     True
1    False
2    False
3    False
4    False
Name: verse, dtype: bool

                                               verse
0  After Jesus had finished instructing his twelv...
1   When John heard in prison what Christ was doi...
2   Blessed is the man who does not fall away on ...
3  " As John's disciples were leaving, Jesus bega...
4   Then what did you go out to see? A prophet? Y...

In [122]:
bible['verse'].apply(lambda x : x[0].isupper()).head()

0     True
1    False
2    False
3    False
4    False
Name: verse, dtype: bool

In [131]:
[len(i) for i in bible['verse']]

[124,
 369,
 59,
 274,
 85,
 121,
 171,
 130,
 55,
 70,
 30,
 211,
 74,
 131,
 45,
 119,
 183,
 96,
 91,
 107,
 91,
 176,
 45,
 51,
 131,
 74,
 117,
 43,
 1]

In [129]:
bible['verse'].apply(lambda x : [i for i in x])
bible['verse'].apply(lambda x : [i.isupper() for i in x])
bible['verse'].apply(lambda x : np.sum([i.isupper() for i in x])).head()

0    3
1    8
2    1
3    9
4    4
Name: verse, dtype: int32

---
---

In [173]:
issue_year = pd.DataFrame(song_meta['issue_date'])
# 데이터 확인
issue_year.head()

# str.slice쓰기 위해 str로 dtype변경
issue_year = issue_year.astype(str)
# print(issue_year.dtypes) # 데이터 확인

# yyyy만 빼오기
issue_year['issue_year'] = issue_year['issue_date'].str.slice(start=0, stop=4)
# 기존 컬럼 yyyymmdd 삭제
issue_year.drop(columns='issue_date', inplace=True, axis=1)
# str -> int로 dtype 다시 변경
issue_year = issue_year.astype(int)
# left outer join
song_meta.join(issue_year, how='left')
# 널값 확인
print(song_meta.isna().sum())




# song_meta 컬럼 순서 바꾸기위해 컬럼 확인
song_meta.columns
# 컬럼 순서 변경
song_meta = song_meta[[ 'id', 'song_name','song_gn_gnr_basket', 'song_gn_dtl_gnr_basket', 'issue_date', 'album_name', 'album_id',
       'artist_id_basket',  'artist_name_basket']]
# 최종 데이터 확인
display(song_meta)

NameError: name 'song_meta' is not defined

---

In [2]:
!pip install chart_studio

Collecting chart_studio
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
Requirement already satisfied: plotly in c:\users\medici\anaconda3\lib\site-packages (from chart_studio) (5.1.0)
Requirement already satisfied: requests in c:\users\medici\anaconda3\lib\site-packages (from chart_studio) (2.25.1)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Requirement already satisfied: six in c:\users\medici\anaconda3\lib\site-packages (from chart_studio) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\medici\anaconda3\lib\site-packages (from plotly->chart_studio) (8.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\medici\anaconda3\lib\site-packages (from requests->chart_studio) (1.26.6)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\medici\anaconda3\lib\site-packages (from requests->chart_studio) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\medici\anaconda3\lib\site-packages (from requests->chart_studio) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\medici\anaconda3\lib\site-packages (from requests->chart_studio) (2021.5.30)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11429 sha256=32553ad03e814db71c84681f611918421e087ffd135c34d89d4cf873167a70b4
  Stored in directory: c:\users\medici\appdata\local\pip\cache\wheels\c4\a7\48\0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56
Successfully built retrying
Installing collected packages: retrying, chart-studio
Successfully installed chart-studio-1.1.0 retrying-1.3.3

In [3]:
pip install plotly --upgrade

Requirement already satisfied: plotly in c:\users\medici\anaconda3\lib\site-packages (5.1.0)
Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\medici\anaconda3\lib\site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in c:\users\medici\anaconda3\lib\site-packages (from plotly) (1.15.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.1.0
    Uninstalling plotly-5.1.0:
      Successfully uninstalled plotly-5.1.0
Successfully installed plotly-5.3.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np
import scipy as sp
import chart_studio.plotly as py

In [5]:
import chart_studio.plotly as py
import plotly.figure_factory as ff
import pandas as pd

In [7]:
import chart_studio.plotly as py
import plotly.graph_objects as go

data = [go.Bar(x=df.School,
            y=df.Gap)]

py.iplot(data, filename='jupyter-basic_bar')

PlotlyRequestError: Authentication credentials were not provided.