### 포맷 문자열

In [1]:
a1 = '홍길동'
a2 = 30

In [3]:
str1 = '이름은' + a1 + '이고 나이는' + str(a2) + '입니다.'
print(str1)

이름은홍길동이고 나이는30입니다.

In [5]:
str2 = '이름은 %s이고 나이는 %d 살 입니다.' %(a1, a2)
print(str2)

이름은 홍길동이고 나이는 30 살 입니다.

In [11]:
a1 = '홍길동'
a2 = 30
a3 = '파스타'

str3 = '이름은 %s 나이는 %d살입니다. %s은 %s를 좋아합니다.' %(a1, a2, a1, a3)
str3

'이름은 홍길동 나이는 30살입니다. 홍길동은 파스타를 좋아합니다.'

In [14]:
str4 = '이름은 {0}이고 나이는 {1}입니다. {0}은 {2}를 좋아합니다.'.format(a1, a2, a3)
print(str4)

이름은 홍길동이고 나이는 30입니다. 홍길동은 파스타를 좋아합니다.

In [16]:
str5 = f'이름은 {a1}이고 나이는 {a2}입니다. {a1}은 {a3}를 좋아합니다.'
print(str5)

이름은 홍길동이고 나이는 30입니다. 홍길동은 파스타를 좋아합니다.