### 포맷 문자열

In [1]:
a1 = '홍길동'
a2 = 30

In [3]:
str1 = '이름은' + a1 + '이고 나이는' + str(a2) + '입니다.'
print(str1)

이름은홍길동이고 나이는30입니다.

In [5]:
str2 = '이름은 %s이고 나이는 %d 살 입니다.' %(a1, a2)
print(str2)

이름은 홍길동이고 나이는 30 살 입니다.

In [11]:
a1 = '홍길동'
a2 = 30
a3 = '파스타'

str3 = '이름은 %s 나이는 %d살입니다. %s은 %s를 좋아합니다.' %(a1, a2, a1, a3)
str3

'이름은 홍길동 나이는 30살입니다. 홍길동은 파스타를 좋아합니다.'

In [14]:
str4 = '이름은 {0}이고 나이는 {1}입니다. {0}은 {2}를 좋아합니다.'.format(a1, a2, a3)
print(str4)

이름은 홍길동이고 나이는 30입니다. 홍길동은 파스타를 좋아합니다.

In [16]:
str5 = f'이름은 {a1}이고 나이는 {a2}입니다. {a1}은 {a3}를 좋아합니다.'
print(str5)

이름은 홍길동이고 나이는 30입니다. 홍길동은 파스타를 좋아합니다.

### apply 함수

In [1]:
# : 다음 연산 함수를 연산해서 x값으로 산출.
import pandas as pd

a1 = pd.Series([1,2,3,4,5])

a1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
import pandas as pd

a1 = pd.Series([1,2,3,4,5])

a1.apply(lambda x : x)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
import pandas as pd

a1 = pd.Series([1,2,3,4,5])

a1.apply(lambda x : 1)

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [4]:
import pandas as pd

a1 = pd.Series([1,2,3,4,5])

a1.apply(lambda x : x % 2)

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [6]:
import pandas as pd

a1 = pd.Series([1,2,3,4,5])

a1.apply(lambda x : x < 3)
# 함수 호출도 가능함.

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [7]:
import pandas as pd

a1 = pd.Series([1,2,3,4,5])

a1.apply(lambda x : x + 10)
# 함수 호출도 가능함.

0    11
1    12
2    13
3    14
4    15
dtype: int64