In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame( [['2021-07-26 00:00',30],['2021-07-26 12:00',30] ], columns=['날짜','최고'])
df

                 날짜  최고
0  2021-07-26 00:00  30
1  2021-07-26 12:00  30

In [5]:
df['날짜'] = pd.to_datetime( df['날짜'] )

In [8]:
df['날짜'].dt.year

0    2021
1    2021
Name: 날짜, dtype: int64

In [9]:
df['날짜'].dt.month

0    7
1    7
Name: 날짜, dtype: int64

In [10]:
df['날짜'].dt.day

0    26
1    26
Name: 날짜, dtype: int64

In [11]:
df['년도'] =df['날짜'].dt.year

In [13]:
df

                   날짜  최고    년도
0 2021-07-26 00:00:00  30  2021
1 2021-07-26 12:00:00  30  2021

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      2 non-null      datetime64[ns]
 1   최고      2 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 160.0 bytes