In [49]:
import mlxtend
import numpy as np
import pandas as pd

In [50]:
# ë°ì´í„° ì…‹ì„ ìƒì„±
# ìš°ìœ , ê¸°ì €ê·€, ì¥¬ìŠ¤, ë§¥ì£¼, ì–‘ìƒì¶”

data = np.array([
    ['ìš°ìœ ', 'ê¸°ì €ê·€', 'ì¥¬ìŠ¤'], # 0ë²ˆì˜ ê±°ë˜
    ['ì–‘ìƒì¶”','ê¸°ì €ê·€','ë§¥ì£¼'], # 1ë²ˆì˜ ê±°ë˜
    ['ìš°ìœ ','ì–‘ìƒì¶”','ê¸°ì €ê·€','ë§¥ì£¼'],
    ['ì–‘ìƒì¶”','ë§¥ì£¼']
], dtype='O')

# Apriori ì•Œê³ ë¦¬ì¦˜

In [51]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True,  True, False],
       [False,  True,  True, False, False]])

In [52]:
te.columns_

['ê¸°ì €ê·€', 'ë§¥ì£¼', 'ì–‘ìƒì¶”', 'ìš°ìœ ', 'ì¥¬ìŠ¤']

In [53]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     ê¸°ì €ê·€     ë§¥ì£¼    ì–‘ìƒì¶”     ìš°ìœ      ì¥¬ìŠ¤
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [54]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

Wall time: 3.99 ms

   support        itemsets
0     0.75           (ê¸°ì €ê·€)
1     0.75            (ë§¥ì£¼)
2     0.75           (ì–‘ìƒì¶”)
3     0.50            (ìš°ìœ )
4     0.50       (ë§¥ì£¼, ê¸°ì €ê·€)
5     0.50      (ì–‘ìƒì¶”, ê¸°ì €ê·€)
6     0.50       (ê¸°ì €ê·€, ìš°ìœ )
7     0.75       (ë§¥ì£¼, ì–‘ìƒì¶”)
8     0.50  (ë§¥ì£¼, ì–‘ìƒì¶”, ê¸°ì €ê·€)

# FP-Growth ì•Œê³ ë¦¬ì¦˜

In [55]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     ê¸°ì €ê·€     ë§¥ì£¼    ì–‘ìƒì¶”     ìš°ìœ      ì¥¬ìŠ¤
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [56]:
%%time
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.5, use_colnames=True)

Wall time: 1.99 ms

   support        itemsets
0     0.75           (ê¸°ì €ê·€)
1     0.50            (ìš°ìœ )
2     0.75           (ì–‘ìƒì¶”)
3     0.75            (ë§¥ì£¼)
4     0.50       (ë§¥ì£¼, ê¸°ì €ê·€)
5     0.50      (ì–‘ìƒì¶”, ê¸°ì €ê·€)
6     0.50  (ë§¥ì£¼, ì–‘ìƒì¶”, ê¸°ì €ê·€)
7     0.50       (ê¸°ì €ê·€, ìš°ìœ )
8     0.75       (ë§¥ì£¼, ì–‘ìƒì¶”)

## **ğŸ’¡a1. ì–´ë–¤ ì§€ì§€ë„ë¥¼ ì¨ì•¼í•œë‹¤ëŠ” ì—†ë‹¤.**       

## **ğŸ’¡q2. ì¸ê³¼ê´€ê³„ë¥¼ íŒŒì•…í•˜ëŠ” ì¶”ì²œì‹œìŠ¤í…œ?**      

a2. ë² ì´ì§€ì•ˆ í™•ë¥  ê·¸ë˜í”„, ì§€ì§€ë„-ì‹ ë¢°ë„-í–¥ìƒë„ë¥¼ ì ì ˆí•˜ê²Œ ë¹„êµ ì‹¤í—˜í•´ì„œ ì¢‹ì€ ê²°ê³¼ë¥¼ ì°¾ì•„ë‚¼ ìˆ˜ ìˆìŒ.       

## **ğŸ’¡q3. ì½œë“œìŠ¤íƒ€íŠ¸ë¬¸ì œë¥¼ ë§‰ì„ ìˆ˜ ì—†ë‚˜ìš”? ì‹ ê·œ ê³ ê°ì— ëŒ€í•œ ì¶”ì²œì€ ì–´ë–»ê²Œ ì§„í–‰?**    

a3. ì‹ ê·œê³ ê° ì •ì˜ê°€ ìš°ì„ . ì—°ê´€ê·œì¹™ì„ í†µí•´ ìƒí’ˆì§‘ë‹¨ì„ ë§Œë“¤ ìˆ˜ ìˆìŒ. => ë§ˆì¼€íŒ… ì¸¡ë©´ ê°™ì´ ì§„ì—´ => ì½œë“œìŠ¤íƒ€í„°ì™€ ì—°ê²°x       
    ê³ ê°ì´ ì•„ë¬´ê²ƒë„ êµ¬ë§¤í•˜ì§€ ì•Šì€ ìƒí™©ì—ì„œ ì¹˜í‚¨ì„ êµ¬ë§¤í•œë‹¤. ì¹˜í‚¨ê³¼ ì—°ê´€ì´ ìˆëŠ” ìƒí’ˆë“¤ì„ ë„ì›Œì¤€ë‹¤. (ìœ íŠœë¸Œ, ì¿ íŒ¡ì´ í•˜ëŠ” ì¼)           
    ì¦‰ê°ì ì¸ í”¼ë“œë°± ì‹œìŠ¤í…œ êµ¬ì¶• -> ì½œë“œìŠ¤íƒ€íŠ¸ ë¬¸ì œ í’€ì´ê°€ëŠ¥.      
    
## **ğŸ’¡q4. aprioriì—ì„œ ì‹ ë¢°ë„ë‚˜ í–¥ìƒë„ë¥¼ DFì—ì„œ í™•ì¸í•˜ë ¤ë©´ ì–´ë–»ê²Œ í•´ì•¼í•˜ë‚˜ìš”?**  

a4. ë‹¤ìŒê³¼ ê°™ì´ í•©ë‹ˆë‹¤.      

## **ğŸ’¡q5. ì´ ì•Œê³ ë¦¬ì¦˜ì€ í˜‘ì—…ì—ì„œ ì“°ì´ë‚˜ìš”? content_based? or collabo filtering?**   

a5. ë£° ê¸°ë°˜ ì•Œê³ ë¦¬ì¦˜ì¸ê²Œ ì •í™•í•œ í‘œí˜„. ë‹¨ì ì´ ëšœë ·í•¨. ë©”ëª¨ë¦¬ì™€ ì‹œê°„ì„ ë„ˆë¬´ ë§ì´ ì¡ì•„ë¨¹ìŒ.     
    ê·œì¹™ì„ ìƒì„±í•˜ê¸´í•˜ëŠ”ë° ìƒì„±ëœ ê·œì¹™ì´ ë„ˆë¬´ ë§ìŒ.      
    ë§‰ìƒ ì ìš©í•˜ê¸´ ì–´ë µë‹¤.     
    ì—°ê´€ìˆëŠ”ì§€ ì‹œê°ì ìœ¼ë¡œ ì˜ë¯¸ íŒŒì•…í•  ë•Œ ì‚¬ìš©.     
    ì‹¤ì œ ì•Œê³ ë¦¬ì¦˜ì€ cb cf ê·¸ë¦¬ê³  ë”¥ëŸ¬ë‹ì˜ í•´ë‹¹ ë°©ë²•ë¡ ì„ ì‚¬ìš©í•˜ëŠ” ê²Œ êµ­ë£°ì„.     

## **ğŸ’¡q6. ì‹ ê·œ ê³ ê°ì—ê²ŒëŠ” ë¹ˆë„ê°€ ì œì¼ ë†’ê±°ë‚˜ ì§€ì§€ë„ê°€ ì œì¼ ë†’ì€ ìƒí’ˆì„ ì‚¬ë¼ê³  ê¶Œí•˜ë©´ ë˜ì§€ ì•Šì„ê¹Œìš”?**    

a6. ì¶”ì²œì‹œìŠ¤í…œ ì ìš©í•  ë•Œ ì‹ ê·œê³ ê°ì¸ê°€, ê¸°ì¡´ê³ ê°ì¸ê°€, ì¶©ì„±ê³ ê°ì¸ê°€? íƒ€ê²Ÿì§‘ë‹¨ ë‚˜ëˆ„ëŠ” ê²ƒë¶€í„° ì‹œì‘í•¨.      
    ì‹ ê·œê³ ê° = ë¹ˆë„ìˆ˜ ë†’ì€ ê±¸ ì¶”ì²œ, ê¸°ì¡´ê³ ê°ì€ ì§‘ë‹¨ì„ ì„¸ë¶„í™” ì‹œì¼œì„œ ì´ˆ ê°œì¸í™” ì¶”ì²œì‹œìŠ¤í…œ ì•Œê³ ë¦¬ì¦˜ ì ìš©.     
    ë‹¤ì–‘í•œ ì§‘ë‹¨ì— ë”°ë¥¸ ì•Œê³ ë¦¬ì¦˜ ì ìš©ì´ í•„ìš”.      
    ë„ë©”ì¸ë”°ë¼ ìƒí™©ì´ ë„ˆë¬´ ë‹¤ë¦„.      
    ë°ì´í„° ë³´ë©´ì„œ í™•ì¸í•˜ëŠ”ê²Œ ë§ë‹¤.

In [68]:
# association_rules(fpgrowth(df, min_support=0.1, use_colnames=True), metric='confidence', min_threshold=0.5, support_only=False)

In [69]:
# association = fpgrowth(df, min_support=0.1, use_colnames=True)
# association_rules(association, metric='confidence', min_threshold=0.5, support_only=False)