In [49]:
import mlxtend
import numpy as np
import pandas as pd

In [50]:
# 데이터 셋을 생성
# 우유, 기저귀, 쥬스, 맥주, 양상추

data = np.array([
    ['우유', '기저귀', '쥬스'], # 0번의 거래
    ['양상추','기저귀','맥주'], # 1번의 거래
    ['우유','양상추','기저귀','맥주'],
    ['양상추','맥주']
], dtype='O')

# Apriori 알고리즘

In [51]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True,  True, False],
       [False,  True,  True, False, False]])

In [52]:
te.columns_

['기저귀', '맥주', '양상추', '우유', '쥬스']

In [53]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [54]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

Wall time: 3.99 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50       (기저귀, 우유)
7     0.75       (맥주, 양상추)
8     0.50  (맥주, 양상추, 기저귀)

# FP-Growth 알고리즘

In [55]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [56]:
%%time
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.5, use_colnames=True)

Wall time: 1.99 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50  (맥주, 양상추, 기저귀)
7     0.50       (기저귀, 우유)
8     0.75       (맥주, 양상추)

## **💡a1. 어떤 지지도를 써야한다는 없다.**       

## **💡q2. 인과관계를 파악하는 추천시스템?**      

a2. 베이지안 확률 그래프, 지지도-신뢰도-향상도를 적절하게 비교 실험해서 좋은 결과를 찾아낼 수 있음.       

## **💡q3. 콜드스타트문제를 막을 수 없나요? 신규 고객에 대한 추천은 어떻게 진행?**    

a3. 신규고객 정의가 우선. 연관규칙을 통해 상품집단을 만들 수 있음. => 마케팅 측면 같이 진열 => 콜드스타터와 연결x       
    고객이 아무것도 구매하지 않은 상황에서 치킨을 구매한다. 치킨과 연관이 있는 상품들을 띄워준다. (유튜브, 쿠팡이 하는 일)           
    즉각적인 피드백 시스템 구축 -> 콜드스타트 문제 풀이가능.      
    
## **💡q4. apriori에서 신뢰도나 향상도를 DF에서 확인하려면 어떻게 해야하나요?**  

a4. 다음과 같이 합니다.      

## **💡q5. 이 알고리즘은 협업에서 쓰이나요? content_based? or collabo filtering?**   

a5. 룰 기반 알고리즘인게 정확한 표현. 단점이 뚜렷함. 메모리와 시간을 너무 많이 잡아먹음.     
    규칙을 생성하긴하는데 생성된 규칙이 너무 많음.      
    막상 적용하긴 어렵다.     
    연관있는지 시각적으로 의미 파악할 때 사용.     
    실제 알고리즘은 cb cf 그리고 딥러닝의 해당 방법론을 사용하는 게 국룰임.     

## **💡q6. 신규 고객에게는 빈도가 제일 높거나 지지도가 제일 높은 상품을 사라고 권하면 되지 않을까요?**    

a6. 추천시스템 적용할 때 신규고객인가, 기존고객인가, 충성고객인가? 타겟집단 나누는 것부터 시작함.      
    신규고객 = 빈도수 높은 걸 추천, 기존고객은 집단을 세분화 시켜서 초 개인화 추천시스템 알고리즘 적용.     
    다양한 집단에 따른 알고리즘 적용이 필요.      
    도메인따라 상황이 너무 다름.      
    데이터 보면서 확인하는게 맞다.

In [68]:
# association_rules(fpgrowth(df, min_support=0.1, use_colnames=True), metric='confidence', min_threshold=0.5, support_only=False)

In [69]:
# association = fpgrowth(df, min_support=0.1, use_colnames=True)
# association_rules(association, metric='confidence', min_threshold=0.5, support_only=False)