In [1]:
import pandas as pd
import numpy as np
from numpy import linalg # 선형대수
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

![l1](images/l1.png)

## p = 1  L1 Norm
## p = 2  L2 Norm

https://en.wikipedia.org/wiki/Norm_(mathematics)

p1 = 절댓값의 합 //
p2 = 절댓값 제곱 합에 루트 씌운 것 //
거리값이 됨.

**L1 norm**

In [2]:
np.random.seed(20)
data = np.random.randint(-5,6,size=(2,2)) #-5부터 5까지 숫자로 2x2 행렬
df = pd.DataFrame(data)
df

   0  1
0 -2  5
1  5  4

In [3]:
# L1을 사용 (p=1) : 절대값의 합
linalg.norm(df, ord=1, axis=1) # axis=1 행단위, axis=0 열단위

array([7., 9.])

**L2 norm**

In [4]:
np.random.seed(20)
data = np.random.randint(1,10,size=(3,2)) #-5부터 5까지 숫자로 2x2 행렬
df = pd.DataFrame(data)
df

   0  1
0  4  5
1  7  8
2  3  1

In [5]:
linalg.norm(df, ord=2, axis=1)

array([ 6.40312424, 10.63014581,  3.16227766])