mpg 데이터는 1988년, 2004년, 2008년도에 미국에서 생산된 자동차 관련 정보

In [1]:
import numpy as np
import pandas as pd

### 데이터 가져오기

In [2]:
mpg_df = pd.read_excel('data/mpg.xlsx')
mpg_df

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

### 데이터 살펴보기
- manufacturer : 제조사
- model : 자동차 모델명
- displ : 배기량
- year : 생산년도
- cyl : 실린더 개수
- trans : 변속기 종류
- div : 구동방식
- ctv : 시내연비
- hwy : 고속도로연비
- fl : 연료종류(c: 가스, d: 디젤, e: 에탄올 혼합연료, p: 고급휘발유 , r: 보통휘발유)
- class : 자동차 종류

In [ ]:
# 데이터 프레임의 크기를 확인한다.
a1, a2 = mpg_Df.shape