In [1]:
#웹 상 데이터를 가져와서 데이터프레임을 만들 것. 
# 셀레니움은 웹브라우저를 띄워야 한다는 것. + 느리다는 단점. 장점은 브라우저 화면이 보이기만 하면 
## 다 떙겨올 수 있다.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 불필요한 경고 메시지를 나오지 않도록 한다.
import warnings
warnings.filterwarnings('ignore')

#seaborn에서 제공하는 라이브러리
#sns.set_style("ticks")
# sns.set_style("darkgrid")
#sns.set_style("whitegrid")

#그래프를 그리기 위한 기본 설정
#폰트 설정 - 윈도우
plt.rcParams['font.family'] = 'Malgun Gothic'
# 폰트 설정 - 맥
# plt.rcParams['font.family'] = 'AppleGothic'

#그래프의 크기
plt.rcParams['figure.figsize'] = 12, 6

#글자 크기
plt.rcParams['font.size'] = 14

#폰트 설정 시 - 기호 깨지는 것 방지하기
plt.rcParams['axes.unicode_minus'] = False

#plt.rcParams['figure.facecolor'] = 'white'

### 데이터 읽어오기

In [3]:
# 데이터를 읽어올 때 사용할 주소
site = 'https://www.basketball-reference.com/leagues/NBA_2018_games.html'

In [4]:
# read_html : 지정된 페이지에 table 태그가 있을 경우 table 태그 하나 당
# 하나의 데이터프레임을 생성한다.
tables = pd.read_html(site)
tables

[                  Date Start (ET)        Visitor/Neutral  PTS  \
 0    Tue, Oct 17, 2017      8:01p         Boston Celtics   99
 1    Tue, Oct 17, 2017     10:30p        Houston Rockets  122
 2    Wed, Oct 18, 2017      7:00p      Charlotte Hornets   90
 3    Wed, Oct 18, 2017      7:00p          Brooklyn Nets  131
 4    Wed, Oct 18, 2017      7:00p             Miami Heat  109
 ..                 ...        ...                    ...  ...
 99   Mon, Oct 30, 2017     10:30p  Golden State Warriors  141
 100  Tue, Oct 31, 2017      7:00p       Sacramento Kings   83
 101  Tue, Oct 31, 2017      7:30p           Phoenix Suns  122
 102  Tue, Oct 31, 2017      8:00p  Oklahoma City Thunder  110
 103  Tue, Oct 31, 2017     10:30p        Detroit Pistons   93

               Home/Neutral  PTS.1 Unnamed: 6 Unnamed: 7  Attend.  Notes
 0      Cleveland Cavaliers    102  Box Score        NaN    20562    NaN
 1    Golden State Warriors    121  Box Score        NaN    19596    NaN
 2          Detroit Pistons    102  Box Score        NaN    20491    NaN
 3           Indiana Pacers    140  Box Score        NaN    15008    NaN
 4            Orlando Magic    116  Box Score        NaN    18846    NaN
 ..                     ...    ...        ...        ...      ...    ...
 99    Los Angeles Clippers    113  Box Score        NaN    19068    NaN
 100         Indiana Pacers    101  Box Score        NaN    12245    NaN
 101          Brooklyn Nets    114  Box Score        NaN    12936    NaN
 102        Milwaukee Bucks     91  Box Score        NaN    16713    NaN
 103     Los Angeles Lakers    113  Box Score        NaN    17569    NaN

 [104 rows x 10 columns]]

In [5]:
tables[0]

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN
...,...,...,...,...,...,...,...,...,...,...
99,"Mon, Oct 30, 2017",10:30p,Golden State Warriors,141,Los Angeles Clippers,113,Box Score,NaN,19068,NaN
100,"Tue, Oct 31, 2017",7:00p,Sacramento Kings,83,Indiana Pacers,101,Box Score,NaN,12245,NaN
101,"Tue, Oct 31, 2017",7:30p,Phoenix Suns,122,Brooklyn Nets,114,Box Score,NaN,12936,NaN
102,"Tue, Oct 31, 2017",8:00p,Oklahoma City Thunder,110,Milwaukee Bucks,91,Box Score,NaN,16713,NaN
103,"Tue, Oct 31, 2017",10:30p,Detroit Pistons,93,Los Angeles Lakers,113,Box Score,NaN,17569,NaN

In [6]:
# a1 = {
#     '값1' : [10, 20, 30],
#     '값2' : ['BTS', '스트레이트키즈', '방탄,소년단']
# }
# df100 = pd.DataFrame(a1)
# df100
# # 쉼표가 있지만 자동으로 excel에서  " "처리, 오류 없이 불러올 수 있음. -> utf-8-sig때문

In [7]:
# df100.to_csv('data/test.csv', index=False, encoding='utf-8-sig')
# #나는 저장할 때 행번호 필요없어. utf-8-sig 로 저장하면 excel문서와 파이썬 두 곳에서 깨지지 않음.

In [8]:
# df200 = pd.read_csv('data/test.csv')
# df200

In [9]:
# 데이터를 저장한다.
# 만약 한글이 포함되어 있다면
# encoding='utf-8-sig'를 설정해줘야 한다.
tables[0].to_csv('data/nba_2018.csv', index=False)
print('저장완료')

저장완료

### 데이터 파악하기

In [10]:
df1 = pd.read_csv('data/nba_2018.csv')
df1

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN
...,...,...,...,...,...,...,...,...,...,...
99,"Mon, Oct 30, 2017",10:30p,Golden State Warriors,141,Los Angeles Clippers,113,Box Score,NaN,19068,NaN
100,"Tue, Oct 31, 2017",7:00p,Sacramento Kings,83,Indiana Pacers,101,Box Score,NaN,12245,NaN
101,"Tue, Oct 31, 2017",7:30p,Phoenix Suns,122,Brooklyn Nets,114,Box Score,NaN,12936,NaN
102,"Tue, Oct 31, 2017",8:00p,Oklahoma City Thunder,110,Milwaukee Bucks,91,Box Score,NaN,16713,NaN
103,"Tue, Oct 31, 2017",10:30p,Detroit Pistons,93,Los Angeles Lakers,113,Box Score,NaN,17569,NaN

In [11]:
# 데이터 프레임 정보 확인
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             104 non-null    object
 1   Start (ET)       104 non-null    object
 2   Visitor/Neutral  104 non-null    object
 3   PTS              104 non-null    int64
 4   Home/Neutral     104 non-null    object
 5   PTS.1            104 non-null    int64
 6   Unnamed: 6       104 non-null    object
 7   Unnamed: 7       2 non-null      object
 8   Attend.          104 non-null    int64
 9   Notes            0 non-null      float64
dtypes: float64(1), int64(3), object(6)
memory usage: 8.2+ KB

### 데이터 전처리

In [12]:
# 컬럼 이름을 확인한다.
df1.columns
# 사용하기 편한 이름으로 컬럼이름 정하세요.

Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1',
       'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Notes'],
      dtype='object')

In [13]:
# 컬럼 이름을 변경한다.
df1.columns = ['경기일자', '경기시간', '방문팀', '방문팀점수', '홈팀', '홈팀점수', 'Box','연장전여부', '관중수', 'Notes']
df1

,경기일자,경기시간,방문팀,방문팀점수,홈팀,홈팀점수,Box,연장전여부,관중수,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN
...,...,...,...,...,...,...,...,...,...,...
99,"Mon, Oct 30, 2017",10:30p,Golden State Warriors,141,Los Angeles Clippers,113,Box Score,NaN,19068,NaN
100,"Tue, Oct 31, 2017",7:00p,Sacramento Kings,83,Indiana Pacers,101,Box Score,NaN,12245,NaN
101,"Tue, Oct 31, 2017",7:30p,Phoenix Suns,122,Brooklyn Nets,114,Box Score,NaN,12936,NaN
102,"Tue, Oct 31, 2017",8:00p,Oklahoma City Thunder,110,Milwaukee Bucks,91,Box Score,NaN,16713,NaN
103,"Tue, Oct 31, 2017",10:30p,Detroit Pistons,93,Los Angeles Lakers,113,Box Score,NaN,17569,NaN

In [14]:
# 결측치 확인
df1.isna().sum()

경기일자       0
경기시간       0
방문팀        0
방문팀점수      0
홈팀         0
홈팀점수       0
Box        0
연장전여부    102
관중수        0
Notes    104
dtype: int64

In [15]:
# 연장전 여부에 저장되어 있는 값의 종류를 확인한다.
df1['연장전여부'].value_counts()

OT    2
Name: 연장전여부, dtype: int64

In [16]:
# 연장전 여부에 결측은 연장전을 하지 않은 경기이다.
# 따라서 결측치를  NOT으로 설정한다.

df1['연장전여부'].fillna('NOT', inplace=True)
df1['연장전여부'].value_counts()

NOT    102
OT       2
Name: 연장전여부, dtype: int64

In [17]:
df1.isna().sum()

경기일자       0
경기시간       0
방문팀        0
방문팀점수      0
홈팀         0
홈팀점수       0
Box        0
연장전여부      0
관중수        0
Notes    104
dtype: int64

In [18]:
# 날짜 컬럼의 타입을 확인한다.
df1['경기일자']

0      Tue, Oct 17, 2017
1      Tue, Oct 17, 2017
2      Wed, Oct 18, 2017
3      Wed, Oct 18, 2017
4      Wed, Oct 18, 2017
             ...
99     Mon, Oct 30, 2017
100    Tue, Oct 31, 2017
101    Tue, Oct 31, 2017
102    Tue, Oct 31, 2017
103    Tue, Oct 31, 2017
Name: 경기일자, Length: 104, dtype: object

In [32]:
# object를 날짜데이터로 바꿔줄 것. 흐름으로 볼 수 있기 떄문.
# 날짜 데이터는 원하는 양식으로 변경하는 것이 좋다.
# %a : 요일 .......https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
# Tue, Oct 17, 2017
df1['경기일자'] = pd.to_datetime(df1['경기일자'], format='%a, %b %d, %Y')
df1['경기일자']

0     2017-10-17
1     2017-10-17
2     2017-10-18
3     2017-10-18
4     2017-10-18
         ...
99    2017-10-30
100   2017-10-31
101   2017-10-31
102   2017-10-31
103   2017-10-31
Name: 경기일자, Length: 104, dtype: datetime64[ns]

<img src='images/date.png' style="width:600px;"/>

In [21]:
# Note, Box 제거
df1_na = df1.drop(['Notes', 'Box'], axis=1)
df1_na

,경기일자,경기시간,방문팀,방문팀점수,홈팀,홈팀점수,연장전여부,관중수
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,NOT,20562
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,NOT,19596
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,NOT,20491
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,NOT,15008
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,NOT,18846
...,...,...,...,...,...,...,...,...
99,"Mon, Oct 30, 2017",10:30p,Golden State Warriors,141,Los Angeles Clippers,113,NOT,19068
100,"Tue, Oct 31, 2017",7:00p,Sacramento Kings,83,Indiana Pacers,101,NOT,12245
101,"Tue, Oct 31, 2017",7:30p,Phoenix Suns,122,Brooklyn Nets,114,NOT,12936
102,"Tue, Oct 31, 2017",8:00p,Oklahoma City Thunder,110,Milwaukee Bucks,91,NOT,16713
103,"Tue, Oct 31, 2017",10:30p,Detroit Pistons,93,Los Angeles Lakers,113,NOT,17569

### 필요한 컬럼만 추출해서 정리한다.

In [22]:
a1 = ['경기일자', '방문팀', '방문팀점수', '홈팀','홈팀점수']
games_nae = df1_na[a1]
games_nae

,경기일자,방문팀,방문팀점수,홈팀,홈팀점수
0,"Tue, Oct 17, 2017",Boston Celtics,99,Cleveland Cavaliers,102
1,"Tue, Oct 17, 2017",Houston Rockets,122,Golden State Warriors,121
2,"Wed, Oct 18, 2017",Charlotte Hornets,90,Detroit Pistons,102
3,"Wed, Oct 18, 2017",Brooklyn Nets,131,Indiana Pacers,140
4,"Wed, Oct 18, 2017",Miami Heat,109,Orlando Magic,116
...,...,...,...,...,...
99,"Mon, Oct 30, 2017",Golden State Warriors,141,Los Angeles Clippers,113
100,"Tue, Oct 31, 2017",Sacramento Kings,83,Indiana Pacers,101
101,"Tue, Oct 31, 2017",Phoenix Suns,122,Brooklyn Nets,114
102,"Tue, Oct 31, 2017",Oklahoma City Thunder,110,Milwaukee Bucks,91
103,"Tue, Oct 31, 2017",Detroit Pistons,93,Los Angeles Lakers,113

In [26]:
# 경기 일자 컬럼을 인덱스로 지정한다.
# append에 True를 넣어주면 이전에 있던 index도 유지된다.
games_naes = games_nae.set_index('경기일자', append=True)
games_naes

,,방문팀,방문팀점수,홈팀,홈팀점수
,경기일자,,,,
0,"Tue, Oct 17, 2017",Boston Celtics,99,Cleveland Cavaliers,102
1,"Tue, Oct 17, 2017",Houston Rockets,122,Golden State Warriors,121
2,"Wed, Oct 18, 2017",Charlotte Hornets,90,Detroit Pistons,102
3,"Wed, Oct 18, 2017",Brooklyn Nets,131,Indiana Pacers,140
4,"Wed, Oct 18, 2017",Miami Heat,109,Orlando Magic,116
...,...,...,...,...,...
99,"Mon, Oct 30, 2017",Golden State Warriors,141,Los Angeles Clippers,113
100,"Tue, Oct 31, 2017",Sacramento Kings,83,Indiana Pacers,101
101,"Tue, Oct 31, 2017",Phoenix Suns,122,Brooklyn Nets,114
102,"Tue, Oct 31, 2017",Oklahoma City Thunder,110,Milwaukee Bucks,91
103,"Tue, Oct 31, 2017",Detroit Pistons,93,Los Angeles Lakers,113

In [27]:
# 인덱스의 이름을 설정한다.
games_naesr = games_naes.rename_axis(['게임', '경기일자'])
games_naesr

,,방문팀,방문팀점수,홈팀,홈팀점수
게임,경기일자,,,,
0,"Tue, Oct 17, 2017",Boston Celtics,99,Cleveland Cavaliers,102
1,"Tue, Oct 17, 2017",Houston Rockets,122,Golden State Warriors,121
2,"Wed, Oct 18, 2017",Charlotte Hornets,90,Detroit Pistons,102
3,"Wed, Oct 18, 2017",Brooklyn Nets,131,Indiana Pacers,140
4,"Wed, Oct 18, 2017",Miami Heat,109,Orlando Magic,116
...,...,...,...,...,...
99,"Mon, Oct 30, 2017",Golden State Warriors,141,Los Angeles Clippers,113
100,"Tue, Oct 31, 2017",Sacramento Kings,83,Indiana Pacers,101
101,"Tue, Oct 31, 2017",Phoenix Suns,122,Brooklyn Nets,114
102,"Tue, Oct 31, 2017",Oklahoma City Thunder,110,Milwaukee Bucks,91
103,"Tue, Oct 31, 2017",Detroit Pistons,93,Los Angeles Lakers,113

### melt함수 사용해보기

In [28]:
df = pd.DataFrame({
    'A' : ['a1', 'a2', 'a3', 'a4'],
    'B' : ['b1', 'b2', 'b3', 'b4'],
    'C' : [1,2,3,4],
    'D' : [100, 200, 300, 400]
})
df

    A   B  C    D
0  a1  b1  1  100
1  a2  b2  2  200
2  a3  b3  3  300
3  a4  b4  4  400

In [29]:
df.melt(id_vars='A', value_vars=['B','C'])

    A variable value
0  a1        B    b1
1  a2        B    b2
2  a3        B    b3
3  a4        B    b4
4  a1        C     1
5  a2        C     2
6  a3        C     3
7  a4        C     4

In [30]:
# 인덱스를 다시 설정한다.
a1 = games_naesr.reset_index()
a1

,게임,경기일자,방문팀,방문팀점수,홈팀,홈팀점수
0,0,"Tue, Oct 17, 2017",Boston Celtics,99,Cleveland Cavaliers,102
1,1,"Tue, Oct 17, 2017",Houston Rockets,122,Golden State Warriors,121
2,2,"Wed, Oct 18, 2017",Charlotte Hornets,90,Detroit Pistons,102
3,3,"Wed, Oct 18, 2017",Brooklyn Nets,131,Indiana Pacers,140
4,4,"Wed, Oct 18, 2017",Miami Heat,109,Orlando Magic,116
...,...,...,...,...,...,...
99,99,"Mon, Oct 30, 2017",Golden State Warriors,141,Los Angeles Clippers,113
100,100,"Tue, Oct 31, 2017",Sacramento Kings,83,Indiana Pacers,101
101,101,"Tue, Oct 31, 2017",Phoenix Suns,122,Brooklyn Nets,114
102,102,"Tue, Oct 31, 2017",Oklahoma City Thunder,110,Milwaukee Bucks,91
103,103,"Tue, Oct 31, 2017",Detroit Pistons,93,Los Angeles Lakers,113

In [33]:
tidy = pd.melt(a1, id_vars=['게임', '경기일자'],
              value_vars=['방문팀', '홈팀'])
tidy

      게임               경기일자 variable                 value
0      0  Tue, Oct 17, 2017      방문팀        Boston Celtics
1      1  Tue, Oct 17, 2017      방문팀       Houston Rockets
2      2  Wed, Oct 18, 2017      방문팀     Charlotte Hornets
3      3  Wed, Oct 18, 2017      방문팀         Brooklyn Nets
4      4  Wed, Oct 18, 2017      방문팀            Miami Heat
..   ...                ...      ...                   ...
203   99  Mon, Oct 30, 2017       홈팀  Los Angeles Clippers
204  100  Tue, Oct 31, 2017       홈팀        Indiana Pacers
205  101  Tue, Oct 31, 2017       홈팀         Brooklyn Nets
206  102  Tue, Oct 31, 2017       홈팀       Milwaukee Bucks
207  103  Tue, Oct 31, 2017       홈팀    Los Angeles Lakers

[208 rows x 4 columns]