# 단어장 및 텍스트 불러오기 + 텍스트에 대해 같은 ID끼리 뭉치기

In [7]:
import pandas as pd

colname = ['eng', 'kor','level']
with open('./data/mid1.csv', encoding="UTF-8") as f:
    table = pd.read_csv(f, header=None)
df_mid1 = pd.DataFrame(table)
df_mid1 = df_mid1.rename(columns={0:'eng', 1:'kor'})
df_mid1['level'] = 'mid1'

with open('./data/mid2.csv', encoding="UTF-8") as f:
    table = pd.read_csv(f, header=None)
df_mid2 = pd.DataFrame(table)
df_mid2 = df_mid2.rename(columns={0:'eng', 1:'kor'})
df_mid2['level'] = 'mid2'

with open('./data/mid3.csv', encoding="UTF-8") as f:
    table = pd.read_csv(f, header=None)
df_mid3 = pd.DataFrame(table)
df_mid3 = df_mid3.rename(columns={0:'eng', 1:'kor'})
df_mid3['level'] = 'mid3'

with open('./data/high1.csv', encoding="UTF-8") as f:
    table = pd.read_csv(f, header=None)
df_high1 = pd.DataFrame(table)
df_high1 = df_high1.rename(columns={0:'eng', 1:'kor'})
df_high1['level'] = 'high1'

with open('./data/high2.csv', encoding="UTF-8") as f:
    table = pd.read_csv(f, header=None)
df_high2 = pd.DataFrame(table)
df_high2 = df_high2.rename(columns={0:'eng', 1:'kor'})
df_high2['level'] = 'high2'

with open('./data/high3.csv', encoding="UTF-8") as f:
    table = pd.read_csv(f, header=None)
df_high3 = pd.DataFrame(table)
df_high3 = df_high3.rename(columns={0:'eng', 1:'kor'})
df_high3['level'] = 'high3'

with open('./data/ele.csv', encoding="UTF-8") as f:
    table = pd.read_csv(f, header=None)
df_ele = pd.DataFrame(table)
df_ele = df_ele.rename(columns={0:'eng', 1:'kor'})
df_ele['level'] = 'ele'
df_ele = df_ele.dropna(axis=1)
display(df_ele.head())

df_concat1 = pd.concat([df_mid1, df_mid2])
df_concat2 = pd.concat([df_mid3, df_high1])
df_concat3 = pd.concat([df_high2, df_high3])
df_concat4 = pd.concat([df_concat1, df_concat2])
df_concat5 = pd.concat([df_concat4, df_concat3])
df_word = pd.concat([df_ele, df_concat5])
df_word = df_word.dropna()

print(df_word.info(1))

      eng    kor level
0  afraid  두려워하여   ele
1     bad     나쁜   ele
2    blue     푸른   ele
3   dance     댄스   ele
4    exam     시험   ele

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15783 entries, 0 to 887
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     15783 non-null  object
 1   kor     15783 non-null  object
 2   level   15783 non-null  object
dtypes: object(3)
memory usage: 493.2+ KB
None

In [5]:
#단어장 내 레벨별 단어 수 확인
from collections import Counter
display(Counter(df_word.level))

Counter({'ele': 700,
         'mid1': 2544,
         'mid2': 1884,
         'mid3': 1578,
         'high1': 3285,
         'high2': 4904,
         'high3': 888})

In [12]:
#texts 
import pandas as pd
with open('./data/mouitest_list.csv', encoding='utf-8') as f:
    table = pd.read_csv(f, header=0)
df_contents_1 = pd.DataFrame(table)
# print(df_contents_1.info(1))

with open('./data/textbook_list.csv', encoding='utf-8') as f:
    table = pd.read_csv(f, header=0)
df_contents_2 = pd.DataFrame(table)
# print(df_contents_2.info(1))

df_contents_1 = df_contents_1.drop(['Unnamed: 4'], axis=1)
df_contents_1 = df_contents_1.dropna(axis=0)
print(df_contents_1.info(1))

df_contents_2 = df_contents_2.drop(['Unnamed: 4'], axis=1)
df_contents_2 = df_contents_2.dropna(axis=0)
print(df_contents_2.info(1))

df_contents_1['video_id'] = df_contents_1['video_id'].astype('object')
df_contents_1['order'] = df_contents_1['order'].astype('object')
print(df_contents_1.info(1))
df_contents = df_contents_1.groupby(['video_id','title'])['sentence'].apply(' '.join).reset_index()
print(df_contents['sentence'][0])
print(df_contents)

df_contents_2['video_id'] = df_contents_2['video_id'].astype('object')
df_contents_2['order'] = df_contents_2['order'].astype('object')
print(df_contents_2.info(1))
df_contents_txt = df_contents_2.groupby(['video_id','title'])['sentence'].apply(' '.join).reset_index()
print(df_contents_txt['sentence'][0])
print(df_contents_txt)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  1839 non-null   object
 1   order     1839 non-null   int64
 2   video_id  1839 non-null   int64
 3   title     1839 non-null   object
dtypes: int64(2), object(2)
memory usage: 71.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32874 entries, 0 to 32956
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  32874 non-null  object
 1   order     32874 non-null  int64
 2   video_id  32874 non-null  int64
 3   title     32874 non-null  object
dtypes: int64(2), object(2)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1839 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  1839 non-null   object
 1   order     1839 non-null   object
 2   video_id  1839 non-null   object
 3   title     1839 non-null   object
dtypes: object(4)
memory usage: 71.8+ KB
None
Dear Mr. Spencer, I will have lived in this apartment for ten years as of this coming April. I have enjoyed living here and hope to continue doing so. When I first moved into the Greenfield Apartments, I was told that the apartment had been recently painted. Since that time, I have never touched the walls or the ceiling. Looking around over the past month has made me realize how old and dull the paint has become. I would like to update the apartment with a new coat of paint. I understand that this would be at my own expense, and that I must get permission to do so as per the lease agreement. Please advise at your earliest convenience. Sincerely,Howard James
     video_id                       title  \
0      127765      2019학년도 고2 3월 모의고사 18번
1      127766      2019학년도 고2 3월 모의고사 19번
2      127767      2019학년도 고2 3월 모의고사 20번
3      127768      2019학년도 고2 3월 모의고사 21번
4      127769      2019학년도 고2 3월 모의고사 22번
..        ...                         ...
195    127960     2020학년도 고2 11월 모의고사 38번
196    127961     2020학년도 고2 11월 모의고사 39번
197    127962     2020학년도 고2 11월 모의고사 40번
198    127963  2020학년도 고2 11월 모의고사 41-42번
199    127964  2020학년도 고2 11월 모의고사 43-45번

                                              sentence
0    Dear Mr. Spencer, I will have lived in this ap...
1    Something inside told me that by now someone h...
2    I am sure you have heard something like, “You ...
3    Think of a buffet table at a party, or perhaps...
4    The practice of medicine has meant the average...
..                                                 ...
195  Liquids are destructive. Foams feel soft becau...
196  In the late twentieth century, researchers sou...
197  In 2011, Micah Edelson and his colleagues cond...
198  Evolutionary biologists believe sociability dr...
199  (A) “You’ve been a very good girl this year, E...

[200 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32874 entries, 0 to 32956
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentence  32874 non-null  object
 1   order     32874 non-null  object
 2   video_id  32874 non-null  object
 3   title     32874 non-null  object
dtypes: object(4)
memory usage: 1.3+ MB
None
Dear Mr.Kayne, I am a resident of Cansinghill Apartments, located right next to the newly opened  Vuenna Dog Park. As I live with three dogs, I am very happy to let my dogs run  around and safely play with other dogs from the neighborhood. However, the noise of  barking and yelling from the park at night is so loud and disturbing that I cannot relax  in my apartment. Many of my apartment neighbors also seriously complain about this  noise. I want immediate action to solve this urgent problem. Since you are the manager  of Vuenna Dog Park, I ask you to take measures to prevent the noise at night. I hope to  hear from you soon.
      video_id                      title  \
0        26657           수능특강 1 - Gateway
1        26658                 수능특강 1 - 1
2        26659                 수능특강 1 - 2
3        26660                 수능특강 1 - 3
4        26661                 수능특강 1 - 4
...        ...                        ...
1283    134630     2019학년도 고3 4월 모의고사 38번
1284    134631     2019학년도 고3 4월 모의고사 39번
1285    134632     2019학년도 고3 4월 모의고사 40번
1286    134633  2019학년도 고3 4월 모의고사 41-42번
1287    134634  2019학년도 고3 4월 모의고사 43-45번

                                               sentence
0     Dear Mr.Kayne, I am a resident of Cansinghill ...
1     Can’t leave the office or home to volunteer? N...
2     At Metro Bank we try to provide banking facili...
3     Dear Friend, At Christmas time our auditorium ...
4     Dear Mayor Johnson, I have always appreciated ...
...                                                 ...
1283  Rather, say to yourself, “What would I do if I...
1284  It is obvious then that there is no authority ...
1285  It is widely believed that verbal rehearsal im...
1286  At around 1.5kg, the human brain is thought to...
1287  One day, a mother and her little girl went to ...

[1288 rows x 3 columns]

In [13]:
print(str(df_contents_txt.values[0][1]))

df_contents_txt['level'] = ['H3' if '수능특강' in x 
                            else 'H3' if '고3' in x
                            else 'H3' if '수능' in x
                            else 'H2' if '고2' in x 
                            else 'H1' if '고1' in x
                            else 'M3' if '중등3' in x
                            else 'M2' if 'NE능률(김)' in x
                            else 'M2' if '중등2' in x
                            else 'M1' if '중등1' in x
                            else 'H1' if '고등' in x
                            else 'H1' if 'YBM(박)' in x
                            else 'M1' if '중등' in x
                            else 'non-labeled' for x in df_contents_txt['title']]
print(df_contents_txt.values[880])

from collections import Counter
print(Counter(df_contents_txt['level']))

print(df_contents_txt.loc[df_contents_txt['level']=='non-labeled'])

수능특강 1 - Gateway
[119876 '2019학년도 고2 3월 모의고사 21번'
 'Think of a buffet table at a party, or perhaps at a hotel you’ve visited. You see platter after platter of different foods. You don’t eat many of these foods at home, and you want to try them all. But trying them all might mean eating more than your usual meal size. The availability of different types of food is one factor in gaining weight. Scientists have seen this behavior in studies with rats: Rats that normally maintain a steady body weight when eating one type of food eat huge amounts and become obese when they are presented with a variety of high The same is true of humans. We eat much more when a variety of good'
 'H2']
Counter({'H3': 488, 'H1': 256, 'H2': 200, 'M2': 141, 'M3': 103, 'M1': 100})
Empty DataFrame
Columns: [video_id, title, sentence, level]
Index: []

# 단어장파일 단어와 텍스트 내 단어 매칭 -> 텍스트당 레벨 비율 구하기
참고: for문으로 짜서 시간 오래걸림. 최적화 필요. 중복단어 및 동사원형 변형 빠져있음

In [20]:

import nltk
from nltk.tokenize import TreebankWordTokenizer
from collections import Counter
import matplotlib.pyplot as plt
import math
import numpy as np

import time
from tqdm import tqdm



def clean_lowercase(text):
    return str(text).lower()

df_contents_txt['sentence'] = df_contents_txt['sentence'].apply(clean_lowercase)

#트리뱅크 토크나이저가 apostrophe 등의 처리를 비교적 원활하게 하는 편이어서 이것으로 활용했습니다 
tokenizer=TreebankWordTokenizer()
wlem = nltk.WordNetLemmatizer()
df_contents_txt['tokenized_text'] = df_contents_txt['sentence'].apply(tokenizer.tokenize) 

#우리 DB내 샘플 텍스트를 토대로 단어기반 레벨 수집 진행 

answers = []
for num in tqdm(range(0,len(df_contents_txt['tokenized_text']))):   
    levels = []
    for word in df_contents_txt['tokenized_text'][num]:
        for i in range(0,len(df_word)):
            if wlem.lemmatize(word) in df_word.values[i]:
                levels.append(df_word.values[i])

    #각각 어떤 레벨로 구성돼 있는지 체크
    level_list = []    
    for j in range(len(levels)):
        level_list.append(levels[j][2])  
#         print(Counter(level_list))

    w = Counter(level_list)
    total = sum(w.values())
    answer = {k: v/total for k,v in w.items()}

    answers.append(answer)
    
print(answers)

answer_df = pd.DataFrame(answers)

print(answer_df)
answer_df.to_csv('./sample.csv')

  2%|█▋                                                                           | 28/1288 [17:08<12:51:41, 36.75s/it]

KeyboardInterrupt: